.content * {
  /* !!!!!ВРЕМЕННО */
  color: rgba(193, 193, 193, 0.915);
}

.hero {
  width: 100%;
  padding: 106px 0 122px;
  background-color: black !important;

  position: relative;
}

.content {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  max-width: 57%;
  min-width: 35%;

  z-index: 3;
}
.content * {
  z-index: 3;
}

.btnBlock {
  margin: 0;
  padding: 0;

  display: flex;
  /* justify-content: space-between; */
}
.filmButton:not(:last-child) {
  margin-right: var(--small-indent);
  text-decoration: none;
}

.iconSimple {
  margin-right: 5px;
}

@media (max-width: 1080px) {
  .filmButton {
    max-height: 56px;
  }
  .aboutButton {
    flex: 1 0 auto;
    text-align: center;
  }
  .filmVideoButton {
    width: 100%;
    min-width: 200px;
    flex: 0 0 100%;
    margin-right: 0 !important;
  }
  .btnBlock {
    width: 75%;
    position: relative;
    flex-wrap: wrap;
    row-gap: var(--small-indent);
    min-height: 130px;
    align-content: space-between;
    height: max-content;
  }
}

@media (max-width: 780px) {
  .btnBlock {
    width: 100%;
  }
}

@media (max-width: 550px) {
}
