.content * {
  /* !!!!!ВРЕМЕННО */
  color: rgba(193, 193, 193, 0.915);
}

.hero {
  width: 100%;
  padding: 106px 0 122px;
  background-color: black !important;

  position: relative;
}

.back {
  position: absolute;
  right: 0;
  top: 0;

  background: no-repeat;
  background-position: center right;
  background-size: cover;

  width: 50%;
  max-width: 70%;
  height: 100%;
}
.gradient {
  height: 100%;
  width: 40%;

  position: absolute;
  left: 0%;
  bottom: 0;
  z-index: 0;

  background: linear-gradient(
    90deg,
    #000 6.25%,
    #000 6.26%,
    rgba(0, 0, 0, 0.99) 14.15%,
    rgba(0, 0, 0, 0.961) 20.77%,
    rgba(0, 0, 0, 0.915) 26.27%,
    rgba(0, 0, 0, 0.856) 30.8%,
    rgba(0, 0, 0, 0.785) 34.5%,
    rgba(0, 0, 0, 0.705) 37.54%,
    rgba(0, 0, 0, 0.619) 40.06%,
    rgba(0, 0, 0, 0.529) 42.21%,
    rgba(0, 0, 0, 0.437) 44.15%,
    rgba(0, 0, 0, 0.347) 46.03%,
    rgba(0, 0, 0, 0.261) 47.99%,
    rgba(0, 0, 0, 0.18) 50.2%,
    rgba(0, 0, 0, 0.108) 52.79%,
    rgba(0, 0, 0, 0.047) 55.94%,
    transparent 59.77%
  );
}

.content {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  max-width: 57%;
  min-width: 35%;

  z-index: 3;
}
.content * {
  z-index: 3;
}

.stats {
  display: flex;
  align-items:center;
  margin: 0;
  padding: 0;
  margin-bottom: var(--small-indent);
}

.btnBlock{
  margin: 0;
  padding: 0;

  display: flex;
  /* justify-content: space-between; */
}
.filmButton:not(:last-child){
  margin-right: var(--small-indent);
}
.statisticValue {
  margin: 0;
}
.statisticValue:not(:last-child) {
  margin-right: var(--small-indent);
}
.title {
  margin-bottom: var(--small-indent);
  color: var(--color-white);

  font-family: "Play";
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
}

.statisticValue {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.accentPlate{
  padding: 4px 12px 4px 12px;
  border-radius: 2rem;
  background-color:#308E21 ;
  color: var(--color-white);


}
.iconSimple{
  margin-right: 5px;
}
.description{
  margin-bottom: calc(3.8*var(--small-indent));
}