.infoFrame {
  max-width: 45%;
}
.text {
  color: var(--color-white);
  font-family: "Play";
  font-size: 24px;
}
.content{
    font-size: 32px;
}
.infoList {
  display: flex;
  flex-direction: column;
}
.infoItem {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 5px var(--small-indent);
  align-items: center;
}
.infoItem:first-child{
    margin-bottom: var(--small-indent);
}
.icoBlock {
  grid-row: span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icoBlock{
    width: 60px;
    height: 60px;
    padding: 16px 13px;
    display: flex;
    align-items: center;
    border-radius: var(--border-rad);
    background-color: #ffffff50;
}
.infoList{
  margin: 0;
  padding: 0;
  margin-bottom: var(--big-indent);
}